<header>
  <div class="row">
    <div class="small-4 columns">
      <%= link_to logo, root_path %>
    </div>
    <div class="small-8 columns">
      <nav class="">
        <ul class="menu">
          <li><%= link_to "Accueil", root_path %></li>
          <% if sign_in? %>
            <li><%= link_to "Profil", current_user %></li>
          <% end %>
          <li><%= link_to "Aide", help_path %></li>
          <% if sign_in? %>
            <li><%= link_to "Déconnexion", signout_path %></li>
          <% else %>
            <li><%= link_to "Inscription", signup_path %></li>
            <li><%= link_to "S'identifier", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
</header>
